/* Table */

.header {
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
}

#table-dashboard {
    font-size: 15px;
}

#table-header {
    background-color: rgb(219, 219, 250);
    border: 1px solid rgb(199, 194, 194);
}

#table-body {
    text-align: center;
}


/* Modal */

.modal-header {
    background-color: rgb(215, 215, 250);
}

.modal-textarea {
    resize: none;
}

.input-required::after {
    content: ' *';
    color: red;
    font-weight: bold;
}